# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
.terraform.lock.hcl

# Packer
packer_cache/
*.pkrvars.hcl
!*.pkrvars.hcl.example

# Ansible / Molecule
*.retry
.molecule/

# Diagrams
docs/architecture.png

# OS
.DS_Store
